/* h1 {
	color: #0000FF;
}

h2 {
	color: #FF0000;
}

a {
	text-decoration: underline;
	margin: 20px;
	color: black;
}

.container {
	background-color: #957bbe;
}

.col { border: 1px solid transparent; } */